## Settings file was created by plugin BrutalCompanyPlus v3.3.1
## Plugin GUID: BrutalCompanyPlus

[CustomLevelRarities]

## Define custom enemy rarities for Experimentation (0 = no spawn, 100 = max chance, -1 = default game rarity)
# Setting type: String
# Default value: Centipede:-1,SandSpider:-1,HoarderBug:-1,Flowerman:-1,Crawler:-1,Blob:-1,DressGirl:-1,Puffer:-1,Nutcracker:-1,SpringMan:-1,Jester:-1,MaskedPlayerEnemy:-1,LassoMan:-1
Experimentation = Centipede:-1,Bunker Spider:-1,Hoarding bug:-1,Flowerman:-1,Crawler:-1,Blob:-1,Girl:-1,Puffer:-1,Nutcracker:-1,Spring:-1,Jester:-1,Masked:-1,LassoMan:-1

## Define custom enemy rarities for Assurance (0 = no spawn, 100 = max chance, -1 = default game rarity)
# Setting type: String
# Default value: Centipede:-1,SandSpider:-1,HoarderBug:-1,Flowerman:-1,Crawler:-1,Blob:-1,DressGirl:-1,Puffer:-1,Nutcracker:-1,SpringMan:-1,Jester:-1,MaskedPlayerEnemy:-1,LassoMan:-1
Assurance = Centipede:-1,Bunker Spider:-1,Hoarding bug:-1,Flowerman:-1,Crawler:-1,Blob:-1,Girl:-1,Puffer:-1,Nutcracker:-1,Spring:-1,Jester:-1,Masked:-1,LassoMan:-1

## Define custom enemy rarities for Vow (0 = no spawn, 100 = max chance, -1 = default game rarity)
# Setting type: String
# Default value: Centipede:-1,SandSpider:-1,HoarderBug:-1,Flowerman:-1,Crawler:-1,Blob:-1,DressGirl:-1,Puffer:-1,Nutcracker:-1,SpringMan:-1,Jester:-1,MaskedPlayerEnemy:-1,LassoMan:-1
Vow = Centipede:-1,Bunker Spider:-1,Hoarding bug:-1,Flowerman:-1,Crawler:-1,Blob:-1,Girl:-1,Puffer:-1,Nutcracker:-1,Spring:-1,Jester:-1,Masked:-1,LassoMan:-1

## Define custom enemy rarities for March (0 = no spawn, 100 = max chance, -1 = default game rarity)
# Setting type: String
# Default value: Centipede:-1,SandSpider:-1,HoarderBug:-1,Flowerman:-1,Crawler:-1,Blob:-1,DressGirl:-1,Puffer:-1,Nutcracker:-1,SpringMan:-1,Jester:-1,MaskedPlayerEnemy:-1,LassoMan:-1
March = Centipede:-1,Bunker Spider:-1,Hoarding bug:-1,Flowerman:-1,Crawler:-1,Blob:-1,Girl:-1,Puffer:-1,Nutcracker:-1,Spring:-1,Jester:-1,Masked:-1,LassoMan:-1

## Define custom enemy rarities for Rend (0 = no spawn, 100 = max chance, -1 = default game rarity)
# Setting type: String
# Default value: Centipede:-1,SandSpider:-1,HoarderBug:-1,Flowerman:-1,Crawler:-1,Blob:-1,DressGirl:-1,Puffer:-1,Nutcracker:-1,SpringMan:-1,Jester:-1,MaskedPlayerEnemy:-1,LassoMan:-1
Rend = Centipede:-1,Bunker Spider:-1,Hoarding bug:-1,Flowerman:-1,Crawler:-1,Blob:-1,Girl:-1,Puffer:-1,Nutcracker:-1,Spring:-1,Jester:-1,Masked:-1,LassoMan:-1

## Define custom enemy rarities for Dine (0 = no spawn, 100 = max chance, -1 = default game rarity)
# Setting type: String
# Default value: Centipede:-1,SandSpider:-1,HoarderBug:-1,Flowerman:-1,Crawler:-1,Blob:-1,DressGirl:-1,Puffer:-1,Nutcracker:-1,SpringMan:-1,Jester:-1,MaskedPlayerEnemy:-1,LassoMan:-1
Dine = Centipede:-1,Bunker Spider:-1,Hoarding bug:-1,Flowerman:-1,Crawler:-1,Blob:-1,Girl:-1,Puffer:-1,Nutcracker:-1,Spring:-1,Jester:-1,Masked:-1,LassoMan:-1

## Define custom enemy rarities for Offense (0 = no spawn, 100 = max chance, -1 = default game rarity)
# Setting type: String
# Default value: Centipede:-1,SandSpider:-1,HoarderBug:-1,Flowerman:-1,Crawler:-1,Blob:-1,DressGirl:-1,Puffer:-1,Nutcracker:-1,SpringMan:-1,Jester:-1,MaskedPlayerEnemy:-1,LassoMan:-1
Offense = Centipede:-1,Bunker Spider:-1,Hoarding bug:-1,Flowerman:-1,Crawler:-1,Blob:-1,Girl:-1,Puffer:-1,Nutcracker:-1,Spring:-1,Jester:-1,Masked:-1,LassoMan:-1

## Define custom enemy rarities for Titan (0 = no spawn, 100 = max chance, -1 = default game rarity)
# Setting type: String
# Default value: Centipede:-1,SandSpider:-1,HoarderBug:-1,Flowerman:-1,Crawler:-1,Blob:-1,DressGirl:-1,Puffer:-1,Nutcracker:-1,SpringMan:-1,Jester:-1,MaskedPlayerEnemy:-1,LassoMan:-1
Titan = Centipede:-1,Bunker Spider:-1,Hoarding bug:-1,Flowerman:-1,Crawler:-1,Blob:-1,Girl:-1,Puffer:-1,Nutcracker:-1,Spring:-1,Jester:-1,Masked:-1,LassoMan:-1

VanillaRaritySettings = false

[CustomScrapSettings]

ExperimentationLevelScrap = 6,25,400,1500

AssuranceLevelScrap = 10,25,600,2500

VowLevelScrap = 12,35,600,2500

OffenseLevelScrap = 15,35,800,3500

MarchLevelScrap = 15,35,800,3500

RendLevelScrap = 20,60,1500,5000

DineScrap = 20,60,1500,5000

TitanLevelScrap = 20,60,2000,6000

CustomLevelScrap = -1,-1,-1,-1

[EnemySettings]

## This will add every enemy type to each moon as a spawn chance
# Setting type: Boolean
# Default value: true
EnableAllEnemy = true

[EventChanceConfig]

None = 100

Turret = 80

Delivery = 100

BlobEvolution = 100

Guards = 100

SurfaceExplosion = 40

FaceHuggers = 100

TheRumbling = 20

TheyWant2Play = 100

BeastInside = 100

ShadowRealm = 100

Unfair = 5

OutsideBox = 100

InstaJester = 30

InsideOut = 100

Landmine = 100

Sacrifice = 100

ShipTurret = 70

HoardTown = 100

TheyAreShy = 100

ResetHeat = 100

[EventEnabledConfig]

## [Nothing Happened Today] Nothing special will happen
# Setting type: Boolean
# Default value: true
None = true

## [Turret Terror] This will spawn turrets all over the place inside the factory
# Setting type: Boolean
# Default value: true
Turret = true

## [ICE SCREAM] This will order between 3 - 9 random items from the shop
# Setting type: Boolean
# Default value: true
Delivery = true

## [They have EVOLVED] This will spawn only Blobs and they can open doors and move much faster
# Setting type: Boolean
# Default value: true
BlobEvolution = true

## [CHAOS COMPANY] This will increase the spawn rates of enemyies inside the factory at a significant rate
# Setting type: Boolean
# Default value: true
Chaos = false

## [The Surface is explosive] Mines wills spawn at the feet of players not in the ship or factory, they also have a delayed fuse
# Setting type: Boolean
# Default value: true
SurfaceExplosion = false

## [Internecivus Raptus?] This will ONLY spawn MANY Centipedes into the factory
# Setting type: Boolean
# Default value: true
FaceHuggers = true

## [The Rumbling] This will spawn MANY Forest Giants when the ship has fully landed
# Setting type: Boolean
# Default value: true
TheRumbling = false

## [The just want to play] This will spawn several Ghost girls into the level
# Setting type: Boolean
# Default value: true
TheyWant2Play = true

## [The Beasts Inside] This will spawn ONLY Eyeless Dogs into the Factory, spawn rate changes depending on moon
# Setting type: Boolean
# Default value: true
BeastInside = true

## [This is just unfair] This will spawn several outside enemies and inside enemies at a significant rate
# Setting type: Boolean
# Default value: true
Unfair = false

## [This planet is NOT safe] This will trigger several events, SurfaceExplosion, InstaJester, BlobEvolution, ShipTurret, Unfair
# Setting type: Boolean
# Default value: true
BadPlanet = false

## [Pop goes the... HOLY FUC-] This will spawn several jesters that have a short crank timer between 0 - 10 seconds instead of 30 - 45 seconds
# Setting type: Boolean
# Default value: true
InstaJester = true

## [Inside Out!] This will spawn 4 Coil heads outside, they will instantly roam around the ship
# Setting type: Boolean
# Default value: true
InsideOut = true

## [Minescape Terror] This will spawn MANY landmines inside the factory
# Setting type: Boolean
# Default value: true
Landmine = false

## [The Hunger Games?] This will rotate through players at a given rate, when the selected player steps inside the factory.. They get choosen for death.
# Setting type: Boolean
# Default value: true
Sacrifice = true

## [When did we get this installed?!?] This will spawn a turret inside the ship facing the controls
# Setting type: Boolean
# Default value: true
ShipTurret = true

## [Hoarder Town] This will ONLY spawn MANY Hoarder Bugs inside the factory
# Setting type: Boolean
# Default value: true
HoardTown = true

## [They are shy!] This will ONLY spawn several Spring Heads and Brackens inside the factory
# Setting type: Boolean
# Default value: true
TheyAreShy = true

## [All Moons Heat Reset] This will reset the moon heat for all moons
# Setting type: Boolean
# Default value: true
ResetHeat = true

[EventOptions]

## This will give free money everytime survive and escape the planet
# Setting type: Boolean
# Default value: true
EnableFreeMoney = true

## This will control the amount of money you get when EnableFreeMoney is true
# Setting type: Int32
# Default value: 150
FreeMoneyValue = 200

[MapObjectModificationSettings]

## Enable modifications to turret spawn rates on every moon, False would default to game logic
# Setting type: Boolean
# Default value: true
EnableTurretModifications = true

## Default spawn amount for turrets on every moon
# Setting type: Single
# Default value: 8
TurretSpawnRate = 8

## Enable modifications to landmine spawn rates on every moon, False would default to game logic
# Setting type: Boolean
# Default value: true
EnableLandmineModifications = true

## Default spawn amount for landmines on every moon
# Setting type: Single
# Default value: 30
LandmineSpawnRate = 20

[MoonHeatSettings]

## Amount by which moon heat decreases when not visiting the planet
# Setting type: Single
# Default value: 10
MoonHeatDecreaseRate = 10

## Amount by which moon heat increases when landing back on the same planet
# Setting type: Single
# Default value: 20
MoonHeatIncreaseRate = 20

[QuotaSettings]

## Days available before deadline
# Setting type: Int32
# Default value: 4
DeadlineDaysAmount = 5

## Credits at the start of a new session
# Setting type: Int32
# Default value: 200
StartingCredits = 200

## Starting quota amount in a new session
# Setting type: Int32
# Default value: 400
StartingQuota = 150

## Quota increase after meeting the previous quota
# Setting type: Single
# Default value: 275
BaseIncrease = 200

[ScrapSettings]

## Minimum scraps that can spawn on each moon
# Setting type: Int32
# Default value: 15
MinScrap = 20

## Maximum scraps that can spawn on each moon
# Setting type: Int32
# Default value: 75
MaxScrap = 80

## Minimum total scrap value on the moon
# Setting type: Int32
# Default value: 1500
MinTotalScrapValue = 1500

## Maximum total scrap value on the moon
# Setting type: Int32
# Default value: 5000
MaxTotalScrapValue = 5000

