## Settings file was created by plugin Minimap v1.0.3
## Plugin GUID: LethalCompanyMinimap

[Advance Settings]

## Disables the ability to change the Minimap focus through the ship control panel, allowing Minimap focus changes only through the mod menu
# Setting type: Boolean
# Default value: false
Override Ship Controls = false

[Basic Settings]

## Toggles visibility of your Minimap
# Setting type: Boolean
# Default value: true
Enable Minimap = true

## Adjusts the size of your Minimap
# Setting type: Int32
# Default value: 200
Minimap Size = 120

## Shifts the Minimap position horizontally
# Setting type: Single
# Default value: 0
X Offset = 0

## Shifts the Minimap position vertically
# Setting type: Single
# Default value: 0
Y Offset = 0

[Hotkeys]

## Hotkey to open the Minimap mod menu
# Setting type: KeyboardShortcut
# Default value: F1
Open Mod Menu = F5

## Hotkey to toggle the visibility of your Minimap
# Setting type: KeyboardShortcut
# Default value: F2
Toggle Minimap = F2

## Hotkey to toggle the override ship controls
# Setting type: KeyboardShortcut
# Default value: F3
Toggle Override Ship = F3

## Hotkey to switch the Minimap focus
# Setting type: KeyboardShortcut
# Default value: F4
Switch Minimap Focus = F4

[Minimap Icons]

## Toggles visibility of loots (small triangles) on your Minimap
# Setting type: Boolean
# Default value: true
Show Loots = true

## Toggles visibility of enemies (red circles) on your Minimap
# Setting type: Boolean
# Default value: true
Show Enemies = true

## Toggles visibility of players (cyan circles) on your Minimap
# Setting type: Boolean
# Default value: true
Show Players = true

## Toggles visibility of dead players (greyed-out cyan circles) on your Minimap
# Setting type: Boolean
# Default value: true
Show Dead Players = true

## Toggles visibility of radar boosters (blue circles) on your Minimap
# Setting type: Boolean
# Default value: true
Show Radar Boosters = true

## Toggles visibility of terminal codes on your Minimap
# Setting type: Boolean
# Default value: true
Show Terminal Codes = true

