## Settings file was created by plugin Scopophobia v1.1.1
## Plugin GUID: Scopophobia

[Appearance]

## Gives the Shy Guy glowing eyes similar to the Bracken/Flowerman.
# Setting type: Boolean
# Default value: true
Glowing Eyes = true

## Gives the Shy Guy his bloodier, original texture from SCP: Containment Breach.
# Setting type: Boolean
# Default value: false
Bloody Texture = false

## Causes the Shy Guy's material to become bloody once getting his first kill. Useless if Bloody Texture is enabled lol
# Setting type: Boolean
# Default value: true
Bloody Death = true

## Determines the sounds the Shy Guy uses. (SOME MAY NOT SYNC WELL WITH TRIGGER TIME) (Curated = Default, curated for the Lethal Company experience) (SCPCB = SCP-096 sounds from SCP: Containment Breach) (SCPCBOld = Old alpha SCP-096 sounds from SCP: Containment Breach) (SecretLab = SCP-096 sounds from SCP: Secret Laboratory)
# Setting type: String
# Default value: Curated
Sound Pack (Curated, SCPCB, SCPCBOld, SecretLab) = Curated

[General]

## Allows the Shy Guy to spawn in-game.
# Setting type: Boolean
# Default value: true
Enable the Shy Guy = true

[Values]

## Determines the speed multiplier of the Shy Guy while docile.
# Setting type: Single
# Default value: 1
Speed Multiplier (Docile) = 1

## Determines the speed multiplier of the Shy Guy while enraged.
# Setting type: Single
# Default value: 1
Speed Multiplier (Rage) = 1

## Determines the spawn weight of the Shy Guy. Higher weights mean the Shy Guy is more likely appear. (just dont set this astronomically high)
# Setting type: Int32
# Default value: 15
Spawn Rarity = 15

[Values.Spawning]

## Determines how many Shy Guy can spawn total.
# Setting type: Int32
# Default value: 1
Max Spawn Count = 1

## Determines if the Shy Guy can spawn outside. 
# Setting type: Boolean
# Default value: true
Can Spawn Outside = true

## If set to true, the Shy Guy will only spawn outside on the highest-difficulty/modded moons.
# Setting type: Boolean
# Default value: true
Spawn Outside Only Hard Moons = true

## Spawn curve for the Shy Guy when the day starts. (typically 0-1)
# Setting type: Single
# Default value: 0.2
Start Spawn Curve = 0.2

## Spawn curve for the Shy Guy midday. (typically 0-1)
# Setting type: Single
# Default value: 1
Midday Spawn Curve = 1

## Spawn curve for the Shy Guy at the end of day. (typically 0-1)
# Setting type: Single
# Default value: 0.75
End of Day Spawn Curve = 0.75

[Values.Triggering]

## Determines how long the Shy Guy must remain in the Triggered state to become fully enraged.
# Setting type: Single
# Default value: 66.4
Trigger Time = 66.4

## Determines the face's trigger radius.
# Setting type: Single
# Default value: 17.5
Face Trigger Range = 17.5

## Determines the grace period when you see the face of the Shy Guy before he becomes enraged.
# Setting type: Single
# Default value: 0.5
Face Trigger Grace Period = 0.5

## Determines if the Shy Guy has a maximum amount of targets.
# Setting type: Boolean
# Default value: false
Has Max Targets = false

## Determines the max amount of targets the Shy Guy can have. (requires HasMaxTargets)
# Setting type: Int32
# Default value: 32
Max Targets = 32

## Determines if the Shy Guy can exit the facility and into the outdoors (and vice versa) to attack its target.
# Setting type: Boolean
# Default value: true
Can Exit Facility = true

